@import "~bootstrap/scss/bootstrap.scss";

body{
    background: #fafafa;
}
p{
    font-size: 100px;
    font-weight: lighter;
    color:red;
}
.addTareas{
    margin: auto;
    max-width: 800px;
    width: 90%;
    text-align: center;
}

.tareas{
    margin: auto;
}
input{
    margin-bottom:20px;
    padding:10px;
    width: 70%;
    border:none;
    outline: none;
}

// .addedItems{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 10px;
// }
// .addedItems li{
//     margin: 0;
//     font-family: fantasy;
// }
// .addedItems button{
//     width: 15x;
//     height: 15px;
//     border-radius: 50%;
//     padding: 2px;
//     font-size: 10px;
// } 
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
